<link rel="stylesheet" href="/static/css/movie.css">

<section>
    <div class="movie-details-container">
        <div class="left-container">
            {{!-- poster, title, genres, and release date will appear here --}}
        </div>

        <div class="right-container">
            {{!-- video, ratings, and overview will appear here --}}
            <iframe class="movie-video" allowfullscreen></iframe>
            <div class="rating-container individual-movie">
                {{#if currentUser}}
                <h3 style="color: white;margin: 0 15px 0 0;">Your rating:</h3>
                <div class="rating-function logged-in">
                    <a href="/movie/rate/{{movie_id}}?rating=1"><i class="fas fa-star"></i></a>
                    <a href="/movie/rate/{{movie_id}}?rating=2"><i class="fas fa-star"></i></a>
                    <a href="/movie/rate/{{movie_id}}?rating=3"><i class="fas fa-star"></i></a>
                    <a href="/movie/rate/{{movie_id}}?rating=4"><i class="fas fa-star"></i></a>
                    <a href="/movie/rate/{{movie_id}}?rating=5"><i class="fas fa-star"></i></a>
                </div>
                <p class="rating"></p>
                <p class="alert" style="margin-left: 15px;"></p>
                {{else}}
                <div class="rating-function logged-out">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="rating"></p>
                <button class="open-modal">Login to rate this movie</button>
                {{/if}}
            </div>

            <div class="cast-slider-container">
                {{!-- 30 most popular cast members will go here --}}
            </div>
        </div>

    </div>

</section>


<script>const api_key = "{{api_key}}"</script>
<script>const movie_id = "{{movie_id}}"</script>
<script src="/static/js/movie.js" defer></script>
<script src="/static/js/search.js" defer></script>